@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-multiplier: 4;
}

body {
  color: hsla(240, 37%, 12%, 1);
}

.lg-container {
  width: 100%;
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}

.md-container {
  max-width: 1024px;
  margin-inline: auto;
}

h1 {
  font-weight: 700;
  font-size: calc(12px * var(--text-multiplier));
  line-height: calc(13.25px * var(--text-multiplier));
}

h2 {
  font-weight: 700;
  font-size: calc(8px * var(--text-multiplier));
  line-height: calc(9.5px * var(--text-multiplier));
}

h3 {
  font-weight: 600;
  font-size: calc(6px * var(--text-multiplier));
  line-height: calc(7.5px * var(--text-multiplier));
}

h4 {
  font-weight: 600;
  font-size: calc(5px * var(--text-multiplier));
  line-height: calc(7px * var(--text-multiplier));
}

h5 {
  font-weight: 500;
  font-size: calc(4px * var(--text-multiplier));
  line-height: calc(6px * var(--text-multiplier));
}

h6 {
  font-weight: 500;
  font-size: calc(3px * var(--text-multiplier));
  line-height: calc(4.5px * var(--text-multiplier));
}

p,
div,
.body {
  font-weight: 400;
  font-size: calc(4px * var(--text-multiplier));
  line-height: calc(6px * var(--text-multiplier));
}

.btn--text {
  font-weight: 700;
  size: calc(4.5px * var(--text-multiplier));
  line-height: calc(6px * var(--text-multiplier));
}

@media screen and (max-width: 640px) {
  :root {
    --text-multiplier: 3;
  }
}
